[Unit]
Description=StorageGateWay Process Restart Upstart Script
After=auditd.service systemd-user-sessions.service time-sync.target http-file.service mini-http.service

[Service]
User=root
TimeoutStartSec=0
Type=simple
KillMode=process
SyslogIdentifier=DataCenter
WorkingDirectory=/data/inphase/DataCenter
ExecStart=/data/inphase/DataCenter/DataCenter_linux -u http://192.168.2.64:8099/imccp-mediacore -t t1000 --ntsc-url http://www.baidu.com/ -d 1
Restart=always
RestartSec=5
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
