[Unit]
Description=StorageGateWay Process Restart Upstart Script
After=auditd.service systemd-user-sessions.service time-sync.target http-file.service mini-http.service

[Service]
User=root
TimeoutStartSec=0
Type=simple
KillMode=process
SyslogIdentifier=DeleteFromLocal
WorkingDirectory=/data/inphase/DeleteFromLocal
ExecStart=/data/inphase/DeleteFromLocal/DeleteFromLocal_linux -u http://192.168.2.64:8099/imccp-mediacore
Restart=always
RestartSec=3
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
